#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  
}

.search-bar-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  border: 1px solid red;
}

.panel-and-games-container {
  flex: 11;
  display: flex;
  flex-direction: row;
}

.side-panel-container {
  flex: 2;
  border: 1px solid blue;
}

.games-container {
  flex: 10;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}